<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>
</head>


<style>
 body {
    background-image: url(../static/fon.jpg);
    background-color: white;
   }
 </style>

  <body>

    <header>
      <nav class="navbar navbar-dark bg-dark">

                        <a class="navbar-brand" href="/">Библиотека</a>

                        {% if "username" in session %}
                            <a class="navbar-brand" href="/add_new_book">Добавить книгу</a>
                            <a class="navbar-brand" href="/logout">Выйти из {{ session["username"]}}</a>
                        {% else %}
                            <a class="navbar-brand" href="/login"> Войти </a>
                        {% endif %}

      </nav>
    </header>


        {% block content %}

            #Сюда помещается контент


        {% endblock %}

  </body>
</html>